@font-face {
  font-family: "iconfont"; /* Project id 3023760 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1641835369303') format('woff2'),
       url('iconfont.woff?t=1641835369303') format('woff'),
       url('iconfont.ttf?t=1641835369303') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuxian:before {
  content: "\e638";
}

.icon-Open-Bookmark:before {
  content: "\ebd3";
}

.icon-jiangshixinxi:before {
  content: "\e680";
}

.icon-zonghexiaoqingpeizhi-01:before {
  content: "\e62c";
}

